{% extends 'Layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1>Connexion</h1>
    <hr>
    <h2>Se Connecter</h2>
    {{ form_start(userForm) }}
    {{ form_row(userForm.email)}}<br>
    {{ form_row(userForm.pwd) }}<br>

    <input type="checkbox" id="remember_me" name="remember_me"/>
    <label for="remember_me">Se souvenir de moi</label>
    <button class="btn btn-outline-light">Connexion</button><br>
    <a href="reset_password.html.twig">Mot de passe oublié</a>
    {{ form_end(userForm) }}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
