{% extends 'layout.html.twig' %}

{% block title %} Accueil - Admin{% endblock %}




    {% block nav %}
       {% include "inc/nav_admin.html.twig" %}
    {% endblock %}
    {% block body %}
    <h1>TABLEAU DE BORD</h1>


        <h2>Liste des 10 dernier articles</h2>
                <!-- Création du tableau liste article -->
            <table class="table_article">
                <!-- header du tableau avec le nom des colonnes -->
                <tr class="table_header_articles">
                    <th>Nom de l'article</th>
                    <th>Date de création</th>
                    <th>Date d'expiration</th>
                    <th>Description</th>
                    <th>Etat</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                <!-- boucle permettant de récupérer les articles de la liste
                et d'afficher un article par ligne -->
            {% for article in articles %}

                <tr>
                    <td class="td_article">{{ article.name }}</td>
                    <td class="td_article">{{ article.creationDate | format_datetime('short','short', locale='fr')}}</td>
                    <td class="td_article">{{ article.expDate | format_datetime('short','short', locale='fr')}}</td>
                    <td class="td_article">{{ article.thematic_id.th_label }}</td>
                    <td class="td_article">{{ article.stateLabel.stateLabel }}</td>
                    <td class="td_article">
                        {% if article.amig != null %}
                        <p>X</p>
                        {% endif %}
                    </td>
                    <td class="td_article"></td>
                    <!-- lien renvoyant sur la vue de l'article côté admin -->
                        <a href="{{ path('/article/{id}', {'id': article.id }) }}"><i class="far fa-eye"></i></a>
                    <!-- lien renvoyant sur la vue de modification de  l'article côté admin -->
                        <a href="{{ path('/edit_article/{id}', {"id" : article.id}) }}"><i class="fas fa-pen"></i></a>
                    <!-- bouton archivage de l'article -->
                    <button type="button"><i class="fas fa-archive"></i></button>
                    <!-- bouton suppression de l'article -->
                        <button type="button"><i class="fas fa-times"></i></button>
                    </td>

                </tr>
            {% endfor %}
            </table>

        <h2>Liste des 10 dernier Audits</h2>

        <!-- Création du tableau liste Audit -->
      <!--  <table class="table_audit">-->
            <!-- header du tableau avec le nom des colonnes -->
           <!-- <tr class="table_header_articles">
                <th>Audit n°</th>
                <th>Date de création</th>
                <th>Nom Prénom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Progression</th>
                <th>Actions</th>
            </tr>

        {#  {% for audit in audits %}

                <tr>
                    <td class="td_audit">{{ audit.id }}</td>
                    <td class="td_audit">{{ audit.creationDate }}</td>
                    <td class="td_audit">{{ audit.nom + audit.prenom }}</td>
                    <td class="td_audit">{{ audit.tel }}</td>
                    <td class="td_audit">{{ audit.mail }}</td>
                    <td class="td_audit">{{ audit.progress }}</td>
                    <td class="td_audit"><i class="fas fa-file-download"></i></td>

                </tr>
              {% endfor %}#}
        </table>

    {% endblock %}
