{% extends 'layout.html.twig' %}

{% block title %} Liste des Articles - Admin{% endblock %}
{% block javascripts %}
    <script src="{{ asset('JS/form.js') }}" type="text/javascript"></script>
{% endblock %}

    {% block nav %}
        {% include "inc/nav_admin.html.twig" %}
    {% endblock %}
    {% block main %}

        <h2> FILTRER LES ARTICLES</h2>

        <div>

            <form name="filter" method="get">
                <!-- Recherche d'article par nom -->
                <div>
                    <label for="search_by_name">Nom de l'article :</label>
                    <input type="search" id="search_by_name" value="{{ nameArticle }}" name="search_by_name"
                           placeholder="Taper le nom de l'article">
                </div>
                <!-- Recherche d'article par Catégorie -->
                <div>
                    <div>
                        <label for="search_by_category">Catégorie : </label>
                        <select name="search_by_category" id="search_by_category" onchange="articleAccess(this.value)">
                            <option value="">TOUTES LES CATEGORIES</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.catLabel }}</option>
                            {% endfor %}
                        </select>
                        <p id="demo"></p>
                    </div>
                </div>
                <div id="bloc_access">
                    <p>ACCES :
                    <p>
                    <div>
                        <input type="checkbox" id="search_by_access_1"
                               name="search_by_access_1" {% if freeFilter %} checked {% endif %} >
                        <label for="search_by_access_1">Libre</label>
                    </div>
                    <div>
                        <input type="checkbox" id="search_by_access_2"
                               name="search_by_access_2"{% if subFilter %} checked {% endif %}>
                        <label for="search_by_access_2">Abonné</label>
                    </div>


                </div>

                <!--     Recherche par état de publication -->
                <div>
                    <p>Etat : </p>
                    <div>
                        <input type="checkbox" id="search_by_state_1"
                               name="search_by_state_1" {% if createdFilter %} checked {% endif %}>
                        <label for="search_by_state_1">Créé</label>
                    </div>
                    <div>
                        <input type="checkbox" id="search_by_state_2"
                               name="search_by_state_2" {% if publishedFilter %} checked {% endif %}>
                        <label for="search_by_state_2">Publié</label>
                    </div>
                    <div>
                        <input type="checkbox" id="search_by_state_3"
                               name="search_by_state_3" {% if archivedFilter %} checked {% endif %}>
                        <label for="search_by_state_3">Archivé</label>
                    </div>
                </div>
                <!--      Recherche par thématique -->
                <div>
                    <p>Thématique</p>
                    <div>
                        <input type="checkbox" id="search_by_them_1"
                               name="search_by_them_1" {% if mutualHealthFilter %} checked {% endif %} >
                        <label for="search_by_them_1">Mutuelle</label>
                    </div>
                    <div>
                        <input type="checkbox" id="search_by_them_2"
                               name="search_by_them_2" {% if foresightFilter %}  checked {% endif %} >
                        <label for="search_by_them_2">Prévoyance</label>
                    </div>
                    <div><input type="checkbox" id="search_by_them_3"
                                name="search_by_them_3" {% if savingFilter %} checked {% endif %} >
                        <label for="search_by_them_3">Epargne</label></div>
                    <div>
                        <input type="checkbox" id="search_by_them_4"
                               name="search_by_them_4" {% if retirementFilter %} checked {% endif %} >
                        <label for="search_by_them_4">Retraite</label>
                    </div>
                    <div><input type="checkbox" id="search_by_them_5"
                                name="search_by_them_5" {% if taxFilter %} checked {% endif %} >
                        <label for="search_by_them_5">Impôt</label></div>
                    <div><input type="checkbox" id="search_by_them_6"
                                name="search_by_them_6" {% if successionFilter %} checked {% endif %} >
                        <label for="search_by_them_6">Succession</label></div>
                    <div>
                        <input type="checkbox" id="search_by_them_7"
                               name="search_by_them_7" {% if othersFilter %} checked {% endif %} >
                        <label for="search_by_them_7">Autres</label>
                    </div>
                </div>

                <!--       Recherche par date -->

                <div>
                    <label for="search_by_creationDate"> Du : </label>
                    <input type="date" id="search_by_creationDate"
                           name="search_by_creationDate" value="{ date1 }}">

                    <label for="search_by_expDate"> au : </label>
                    <input type="date" id="search_by_expDate"
                           name="search_by_expDate" value="{ date2 }}">
                </div>
                <button class="btn-recherche" type="submit" id="bouton_rechercher" name="rechercher">Rechercher</button>
            </form>
        </div>
        <div>
            <h2>Liste des Articles</h2>

            <table class="table_listArticle">
                <!-- header du tableau avec le nom des colonnes -->
                <tr class="table_header_listArticles">

                    <th>Nom</th>
                    <th>Date de création</th>
                    <th>Date d'expiration</th>
                    <th>Thématique</th>
                    <th>Etat</th>
                    <th>Categorie</th>
                    <th>Accès :</th>
                    <th>Image :</th>
                    <th>Actions :</th>
                </tr>
                <!-- boucle permettant de récupérer les articles de la liste
                et d'afficher un article par ligne -->
                {# {% if articles == null %} #}
                {% for article in articlePage %}
                    {% include "inc/list_article_table.html.twig" %}
                {% endfor %}
                {# {% endif  %}
                {% for article in articles %}
                    {% include "inc/list_article_table.html.twig" %}
                {% endfor %} #}
            </table>
            {# {% if articles == null %}
            <div class="pagination">
                {{ knp_pagination_render(articlePage) }}
            </div>
            {% endif %} #}
            <div class="pagination">
                {{ knp_pagination_render(articlePage) }}
            </div>
        </div>
    {% endblock %}