{% extends 'layout.html.twig' %}

{% block title %} Liste des Articles - Admin{% endblock %}

    {% block nav %}
        {% include "inc/nav_admin.html.twig" %}
    {% endblock %}
    {% block main %}

        <h2> FILTRER LES ARTICLES</h2>

        <div>

            <form name="filter" method="get">
                <!-- Recherche d'article par nom -->
                <div>
                    <label for="search_by_name">Nom de l'article :</label>
                    <input type="search" id="search_by_name" value="{{ nameArticle }}" name="search_by_name"
                           placeholder="Taper le nom de l'article">
                </div>
                <!-- Recherche d'article par Catégorie -->
                <div>
                    <div>
                        <label for="search_by_category">Catégorie : </label>
                        <select name="search_by_category" id="search_by_category">
                            <option value="">TOUTES LES CATEGORIES</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.catLabel }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--      si categorie choisie = Actualité alors choix par accès =true )-->
                    {# ##### TO DO : faire le block if ###### #}
                    <p>ACCES :
                    <p>

                    <div>
                        <input type="radio" id="abonne" name="search_by_access" value="1">
                        <label for="abonne">Abonné</label>
                    </div>
                    <div>
                        <input type="radio" id="libre" name="search_by_access" value="2">
                        <label for="libre">Libre</label>
                    </div>
                    <div>
                        <input type="radio" id="lesDeux" name="search_by_access">
                        <label for="lesDeux">Les deux</label>
                    </div>

                </div>
                <!--      Recherche par thématique -->
                <div>
                    <p>Thématique</p>
                    <div>
                        <input type="checkbox" id="search_by_them_1"
                               name="search_by_them_1" {% if mutuelleFilter %} checked {% endif %} >
                        <label for="search_by_them_1">Mutuelle</label>
                    </div>
                    <div>
                        <input type="checkbox" id="search_by_them_2"
                               name="search_by_them_2" {% if prevoyanceFilter %} checked {% endif %} >
                        <label for="search_by_them_2">Prévoyance</label>
                    </div>
                    <div><input type="checkbox" id="search_by_them_3"
                                name="search_by_them_3" {% if epargneFilter %} checked {% endif %} >
                        <label for="search_by_them_3">Epargne</label></div>
                    <div>
                        <input type="checkbox" id="search_by_them_4"
                               name="search_by_them_4" {% if retraiteFilter %} checked {% endif %} >
                        <label for="search_by_them_4">Retraite</label>
                    </div>
                    <div><input type="checkbox" id="search_by_them_5"
                                name="search_by_them_5" {% if impotFilter %} checked {% endif %}>
                        <label for="search_by_them_5">Impôt</label></div>
                    <div><input type="checkbox" id="search_by_them_6"
                                name="search_by_them_6" {% if successionFilter %} checked {% endif %} >
                        <label for="search_by_them_6">Succession</label></div>
                    <div>
                        <input type="checkbox" id="search_by_them_7"
                               name="search_by_them_7" {% if autresFilter %} checked {% endif %}>
                        <label for="search_by_them_7">Autres</label>
                    </div>
                </div>
                <!--       Recherche par état de publication
                      <div>
                          <p>Etat : </p>
                          <div>
                              <input type="checkbox" id="search_by_state_1" name="search_by_state_1" >
                              <label for="search_by_state_1">Créé</label>
                          </div>
                          <div>
                              <input type="checkbox" id="search_by_state_2" name="search_by_state_2" >
                              <label for="search_by_state_2">Publié</label></div>
                          <div>
                              <input type="checkbox" id="search_by_state_3" name="search_by_state_3" >
                              <label for="search_by_state_3">Archivé</label>
                          </div>
                      </div>
                      Recherche par date -->

                <div>
                    <label for="search_by_creationDate"> Du : </label>
                    <input type="date" id="search_by_creationDate"
                           name="search_by_creationDate" value="{ date1 }}">

                    <label for="search_by_expDate"> au : </label>
                    <input type="date" id="search_by_expDate"
                           name="search_by_expDate" value="{ date2 }}">
                </div>
                <button class="btn-recherche" type="submit" id="bouton_rechercher" name="rechercher">Rechercher</button>
            </form>
        </div>
        <div>
            <h2>Liste des Articles</h2>

            <table class="table_listArticle">
                <!-- header du tableau avec le nom des colonnes -->
                <tr class="table_header_listArticles">
                    <th>Nom de l'article</th>
                    <th>Date de création</th>
                    <th>Date d'expiration</th>
                    <th>Thématique</th>
                    <th>Etat</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                <!-- boucle permettant de récupérer les articles de la liste
                et d'afficher un article par ligne -->
                {% for article in articles %}

                    <tr>
                        <td class="td_listArticle">{{ article.artName }}</td>
                        <td class="td_listArticle">{{ article.creationDate | format_date('short', locale='fr') }}</td>
                        <td class="td_listArticle">{{ article.expDate | format_date('short', locale='fr') }}</td>
                        <td class="td_listArticle">{{ article.thematic.thlabel }}</td>
                        <td class="td_listArticle">{{ article.state.stateLabel }}</td>
                        <td class="td_listArticle">
                            {% if article.artImg != null %}
                                <p>X</p>
                            {% endif %}
                        </td>
                        <td class="td_listArticle">
                        <!-- lien renvoyant sur la vue de l'article côté admin -->
                        <a href="{{ path('preview_article', {'id': article.id }) }}"><i class="far fa-eye"></i></a>


                        <!-- lien renvoyant sur la vue de modification de  l'article côté admin -->
                        <a href="{{ path('edit_article', {"id" : article.id}) }}"><i class="fas fa-pen"></i></a>

                        <!-- bouton archivage de l'article -->
                        {% if(article.state.stateLabel == "Publié") %}
                            <a href="{{ path('archive_article', {'id' : article.id}) }}">
                                <button type="button"><i class="fas fa-archive"></i></button>
                            </a>
                        {% endif %}

                        <!-- bouton suppression de l'article -->
                        <a href="{{ path('delete_article',{'id':article.id}) }}">
                            <button type="button"><i class="fas fa-times"></i></button>
                        </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock %}