{% extends "layout.html.twig" %}
{% block title %} {{ article.artName }} {% endblock %}
{% block main %}
<div class="actuality_view">
    <h1>{{ article.category.catLabel | upper }}</h1>
    <h1>{{ article.artName }}</h1>
    <img src="{{ asset('uploads/images/' ~ article.artImg) }}" alt="Image en relation l'article">
    <p>{{ article.description }}</p>
</div>
    <div class="sharing">

    </div>

    <div class="react">
        <h1>REAGIR</h1>
        <p>{{ app.user().pseudo }}</p>
        {{ form_start() }}

        {{ form_end() }}
    </div>

    <div class="commentaries">
        {% for commentary in commentariess %}
        {{ commentary.user.pseudo }}
            {{ commentary.comment }}
        {% endfor %}
    </div>
{% include "inc/dossier.html.twig" %}
{#   {% include "inc" %} #}
{% endblock %}