<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Prévoyance Finance{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link href="{{ asset ('css/header.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset ('css/main.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset ('css/footer.css') }}" type="text/css" rel="stylesheet">

    {% endblock %}


    {% block javascripts %}

        {# {{ encore_entry_script_tags('app') }} #}
        {# FontAwesome KIT #}
        <script src="https://kit.fontawesome.com/1363395164.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>


{% block header %}

    <header>
        <!-- div bandeau réseau sociaux + se connecter -->
        <div class="container-fluid">
            <div class="row social_and_cnx">
                <div class="col-6">
                    <a href="facebook.com"> <i class="social_icon fab fa-facebook-square fa15x"></i> </a>
                    <a href="twiter.com"><i class="social_icon fab fa-twitter fa15x"></i></a>
                    <a href="instagram.com"><i class=" social_icon fab fa-instagram fa15x"></i></a>
                    <a href="linkedin.com"><i class="social_icon fab fa-linkedin-in fa15x"></i></a>
                    <a href="{{ path('contact') }}"><i class="social_icon fas fa-phone-alt fa15x"></i></a>
                    <!--téléphone-->
                    <a href="{{ path('contact') }}"><i class="social_icon fas fa-envelope fa15x"></i></a>
                    <!--mail-->
                </div>

                <div class="col-6 text-end">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('homeback') }}" class="cnx">TABLEAU DE BORD</a>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_profile', {'id': app.user.id}) }}" class="cnx">MON PROFIL</a>
                        <a href="{{ path('app_logout') }}" class="cnx">SE DECONNECTER</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="cnx"> <i class="fas fa-user fa-1x"></i>
                            SE CONNECTER</a>
                        <a href="{{ path('app_register') }}" class="sub">S'ABONNER GRATUITEMENT</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- div bandeau logo image et menu -->
        <div class="container-fluid logo_menu">

            <div class="row">
                <div class="col-4">
                    <a href="{{ path('general') }}"> <img class="img-fluid" src="{{ asset('img/unknown.png') }}"
                                                          alt="Logo du site Prévoyance Finance"> </a>
                </div>
                <div class="col-8 headbandPub_nav">
                    <img class="img-fluid" src="{{ asset('img/barre.png') }}" alt="banière pub du site ">

                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link" href="#">Features</a>
                                <a class="nav-item nav-link" href="#">Pricing</a>
                                <a class="nav-item nav-link disabled" href="#">Disabled</a>
                            </div>
                        </div>
                    </nav>


                    {# <nav class="navbar navbar-expand-xl"> #}
                    {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> #}
                    {# <span class="navbar-toggler-icon"></span> #}
                    {# </button> #}
                    {# #}
                    {# #}
                    {# <div class="collapse navbar-collapse" id="navbarNav"> #}
                    {# <ul class="navbar-nav "> #}
                    {# {% block nav %} #}
                    {# <li class="nav-item li_header_nav"> #}
                    {# <a class="nav-link" href="{{ path('general') }}">Accueil</a> #}
                    {# </li> #}
                    {# <li class="nav-item li_header_nav"> #}
                    {# <a class="nav-link" href="{{ path('company_info') }}">Qui sommes #}
                    {# nous #}
                    {# ?</a> #}
                    {# </li> #}
                    {# <li class="nav-item li_header_nav"> #}
                    {# <a class="nav-link" href="{{ path('mutual_info') }}">Mutuelle</a> #}
                    {# </li> #}
                    {# <li class="nav-item li_header_nav"> #}
                    {# <a class="nav-link" #}
                    {# href="{{ path('foresight_info') }}">Prévoyance</a> #}
                    {# </li> #}
                    {# <li class="nav-item li_header_nav"> #}
                    {# <a class="nav-link" href="{{ path('saving_info') }}">Epargne</a> #}
                    {# </li> #}
                    {# <li class="nav-item li_header_nav"> #}
                    {# <a class="nav-link " #}
                    {# href="{{ path('retirement_info') }}">Retraite</a> #}
                    {# </li> #}
                    {# <li class="nav-item li_header_nav"> #}
                    {# <a class="nav-link " href="{{ path('tax_info') }}">Impôts</a> #}
                    {# </li> #}
                    {# <li class="nav-item li_header_nav"> #}
                    {# <a class="nav-link " #}
                    {# href="{{ path('succession_info') }}">Succession</a> #}
                    {# </li> #}
                    {# {% endblock %} #}
                    {# </ul> #}
                    {# </div> #}
                    {# </nav> #}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
    <br>
    <div class="search_article">
        <form method="get">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <label for="search_by_name">Nom de l'article :</label>
                        <input type="search" id="search_by_name" value="{{ nameArticle }}" name="search_by_name"
                               placeholder="Taper un mot clé">
                    </div>
                    <div class="col-3">
                        <label for="search_by_category">Catégorie : </label>
                        <select name="search_by_category" id="search_by_category">
                            <option value="" disabled selected>Choisir une catégorie</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.catLabel }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="search_by_thematic"> Thématiques : </label>
                        <select name="search_by_thematic" id="search_by_thematic">
                            <option value="" disabled selected>Choisir une thématique</option>
                            {% for thematic in thematiques %}
                                <option value="{{ thematic.id }}">{{ thematic.thLabel }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-3">
                        <button class="btn btn-lg btn-block" type="submit"> RECHERCHER</button>
                    </div>
                </div>
            </div>
        </form>
        <br>

        {# {% if nameArticle != null or nameCategory != null or nameThematic != null %}
        <ul>
        {% for oneResult in resultSearch %}
            <li>
            {{ oneResult.ArtName }} :
            {{ oneResult.shortDescription }}
            </li>
        {% endfor %}
        </ul>
        <div class="pagination">
            {{ knp_pagination_render(resultSearch) }}
        </div>
        {% endif %}
        #}
    </div>


    <div class="block_actu_dossier">

        {{ include('inc/actualities.html.twig') }}
        {{ include('inc/dossier.html.twig') }}

    </div>
    <div>
        {{ include('inc/mostRead.html.twig') }}
    </div>
{% endblock %}


<footer>
    <div class="bandeau1_footer">
        <p class="partner">Nos Partenaires :</p>

        <a href="https://www.axa.fr" target="_blank">
            <img src="{{ asset('img/Logo_AXA.png') }}" alt="Logo AXA">
        </a>
        <a href="https://lmatch.fr/" target="_blank"> <!-- récupérer lien -->
            <img src="{{ asset('img/Logo_LMatch.png') }}" alt="Logo LMatch">
        </a>
        <a href="https://www.agipi.com" target="_blank">
            <img src="{{ asset('img/Logo_AGIPI.png') }}" alt="Logo AGIPI">
        </a>
        <a href="https://gameandrules.com/" target="_blank">
            <img src="{{ asset('img/Logo_Game_AND_RULES.png') }}" alt="Logo Game and Rules">
        </a>
    </div>

    <div class="bandeau2_footer">
        <div>
            <a href="#"> <!-- a mettre dans le href { { path('accueil') } } -->
                <img src="{{ asset('img/logo_footer.png') }}" alt="Logo Prévoyance Finance">
            </a>
        </div>

        <div class="menu_footer">
            <hr class="hr_footer"/>
            <ul>
                <li><a href="{{ path('contact') }}">Nous Contacter</a></li>
                <li><a href="{{ path('mentions-legales') }}">Mentions Légales</a></li>
                <li><a href="{{ path('conditions-generales') }}">CGU</a></li>
                <li><a href="{{ path('politique-de-confidentialites') }}">Politique de Confidentialité</a></li>
                <li><a href="{{ path('politique-de-cookies') }}">Politique de cookies (UE)</a></li>
            </ul>
        </div>

        <div class="boutons_footer">
            {% if (app.user != null) %}
                <div>
                    <a href="{{ path('audit', {'userId': app.user.id}) }}" target="_blank">
                        <button class="btn-dmd-audit" type="button">Demander un audit</button>
                    </a>
                </div>
            {% else %}
                <div>
                    <a href="{{ path('app_register') }}" target="_blank">
                        <button class="btn-dmd-audit" type="button">Demander un audit</button>
                    </a>
                </div>
            {% endif %}
            <div>
                <a href="https://gameandrules.com/" target="_blank">
                    <button class="btn-pltf-gaming" type="button">Plateforme Gaming</button>
                </a>
            </div>

            <div>
                <a href="#" target="_blank">
                    <button class="btn-abo" type="button">S'abonner gratuitement</button>
                </a>
            </div>

        </div>
    </div>
    <div class="bandeau3_footer">
        <p>Prévoyancefinance.fr </p>
        <p>|</p>
        <p>Tous droits réservés</p>
    </div>


</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>
