<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Prévoyance Finance{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link href="{{ asset ('css/header.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset ('css/footer.css') }}" type="text/css" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
        {# FontAwesome KIT #}
        <script src="https://kit.fontawesome.com/1363395164.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>

{% block header %}
    <header>

        <!-- div global du header -->
        <div class="global_header">
            <!-- div bandeau réseau sociaux + se connecter -->
            <div class="social_and_cnx">
                <div class="social_link">
                    <a href="facebook.com"> <i class="fab fa-facebook-square fa-2x"></i> </a>
                    <a href="twiter.com"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="linkedin.com"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    <a href="#"><i class="social_icon fas fa-phone-alt fa-2x"></i></a><!--téléphone-->
                    <a href="#"><i class="social_icon fas fa-envelope fa-2x"></i></a><!--mail-->
                </div>
                <div class="cnx_sub">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_logout') }}" class="cnx">SE DECONNECTER</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="cnx"> <i class="fas fa-user fa-1x"></i> SE CONNECTER</a>
                        <a href="#" class="sub">S'ABONNER GRATUITEMENT</a>
                    {% endif %}



                </div>

            </div>

            <div class="logo_menu">
                <div class="logo">
                    <img src="{{ asset('img/unknown.png') }}" alt="Logo du site Prévoyance Finance">
                </div>
                <div class="headbandPub_nav">
                    <div class="headband">
                        <img src="{{ asset('img/barre.png') }}" alt="banière pub du site ">
                    </div>

                    <nav class="header_nav">

                        <ul class="ul_header_nav">
                            {% block nav %}
                            <li class="li_hover li_header_nav ">Mutuelle
                                <i class="fas fa-chevron-down fa-1x ">
                                </i>
                            </li>
                            <li class="li_hover li_header_nav"> Prévoyance
                                <i class="fas fa-chevron-down fa-1x ">
                                </i>
                            </li>
                            <li class=" li_hover li_header_nav">Epargne
                                <i class=" fas fa-chevron-down fa-1x">
                                </i>
                            </li>
                            <li class="li_hover li_header_nav">Retraite
                                <i class="fas fa-chevron-down fa-1x">
                                </i>
                            </li>
                            <li class="li_hover li_header_nav">Impôts
                                <i class=" fas fa-chevron-down fa-1x">
                                </i>
                            </li>
                            <li class="li_hover li_header_nav">Succession
                                <i class="fas fa-chevron-down fa-1x">
                                </i>
                            </li>
                            {% endblock %}
                        </ul>

                    </nav>

                </div>

            </div>


        </div>
    </header>
{% endblock %}
{% block body %}

{% endblock %}


<footer>
    <div class="bandeau1_footer">
        <p class="partner">Nos Partenaires :</p>

        <a href="https://www.axa.fr" target="_blank">
            <img src="{{ asset('img/Logo_AXA.png') }}" alt="Logo AXA">
        </a>
        <a href="https://lmatch.fr/" target="_blank"> <!-- récupérer lien -->
            <img src="{{ asset('img/Logo_LMatch.png') }}" alt="Logo LMatch">
        </a>
        <a href="https://www.agipi.com" target="_blank">
            <img src="{{ asset('img/Logo_AGIPI.png') }}" alt="Logo AGIPI">
        </a>
        <a href="https://gameandrules.com/" target="_blank">
            <img src="{{ asset('img/Logo_Game_AND_RULES.png') }}" alt="Logo Game and Rules">
        </a>
    </div>

    <div class="bandeau2_footer">
        <div>
            <a href="#"> <!-- a mettre dans le href { { path('accueil') } } -->
                <img src="{{ asset('img/logo_footer.png') }}" alt="Logo Prévoyance Finance">
            </a>
        </div>

        <div class="menu_footer">
            <hr class="hr_footer"/>
            <ul>
                <li><a href="#">Nous Contacter</a></li>
                <li><a href="#">Mentions Légales</a></li>
                <li><a href="#">CGU</a></li>
                <li><a href="#">Politique de Confidentialité</a></li>
                <li><a href="#">Politique de cookies (UE)</a></li>
            </ul>
        </div>

        <div class="boutons_footer">
            <div>
                <a href="#" target="_blank">
                    <button class="btn-dmd-audit" type="button">Demander un audit</button>
                </a>
            </div>

            <div>
                <a href="https://gameandrules.com/" target="_blank">
                    <button class="btn-pltf-gaming" type="button">Plateforme Gaming</button>
                </a>
            </div>

            <div>
                <a href="#" target="_blank">
                    <button class="btn-abo" type="button">S'abonner gratuitement</button>
                </a>
            </div>

        </div>
    </div>
    <div class="bandeau3_footer">
        <p>Prévoyancefinance.fr </p>
        <p>|</p>
        <p>Tous droits réservés</p>
    </div>


</footer>
</body>
</html>
