{% extends 'layout.html.twig' %}

{% block title %}Audit Online{% endblock %}

{% block main %}
    <h2>Audit Partie 1</h2>
    <div>
        <img src="{{ asset('img/assur-carte-pro_main.jpg') }}" alt="Carte de visite"><br>

    </div>

    <hr>
    <div>

        {{ form_start(partOneForm) }}

        {# Q1 - Objectifs #}
        {{ form_row(partOneForm.objective)}}
<hr>
        {# Q2 Je suis: #}
        {{ form_row(partOneForm.intelligence) }}

<hr>
        {{ form_row(partOneForm.proStatus) }}
        {{ form_row(partOneForm.shareInCompany) }}

<hr>

        {# Q3 - Vous êtes:#}
        {{ form_row(partOneForm.status) }}
<hr>
        {# Q4 - Vous êtes mariés sous: doit apparaitre si marié est coché#}
        {{ form_row(partOneForm.maried)}}
<hr>

        {# Q5 - Avez-vous des enfants?#}
        {{ form_row(partOneForm.child) }}
        {{ form_row(partOneForm.children) }}

<hr>

        {# Q6 - Avez-vous déjà effectué?#}
        <p>Avez-vous déjà effectué?</p>
        {{ form_row(partOneForm.donation) }}
        {{ form_row(partOneForm.testament) }}
        {{ form_row(partOneForm.donationBetweenSpouses) }}
        {{ form_row(partOneForm.notary) }}
        {{ form_row(partOneForm.notaryName) }}


        <button type="submit" class="btn">Etape suivante</button>
        {{ form_end(partOneForm) }}
    </div>

{% endblock %}
