{% extends "layout.html.twig" %}
{% block javascripts %}
    <script src="{{ asset('JS/audit.js') }}" type="text/javascript"></script>
{% endblock %}
{% block main %}
    {% block flash %}
        {{ parent() }}
    {% endblock %}


    {{ form_start(partFiveForm) }}

    <table>
        <thead>
        <tr>
            <th><h3>VOTRE CONNAISSANCE ET EXPERIENCE EN MATIERE FINANCIERE</h3></th>
            <th>Vous</th>
            {%  if statut == "Marié(e)" %}
            <th>Votre conjoint(e)</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>

                    {{ form_label(partFiveForm.individualForm[0].financialProducts) }}
                    <p>* Non Aucun </p>
                    <p>* Compte bancaire / Livret A </p>
                    <p>* Epargne financière(compte titre ou PEA)</p>
                    <p>* Assurance vie</p>
                    <p>* Placement retraite(PERP,Madelin)</p>
                    <p>* Epargne salariale / PEE</p>
                </div>
            </td>
            <td>
                <div>

                    {{ form_widget(partFiveForm.individualForm[0].financialProducts.nothing) }}
                    {{ form_widget(partFiveForm.individualForm[0].financialProducts.bankAccount) }}
                    {{ form_widget(partFiveForm.individualForm[0].financialProducts.financialSavings) }}
                    <div>
                        {{ form_widget(partFiveForm.individualForm[0].financialProducts.lifeInsurance) }}
                        {{ form_row(partFiveForm.individualForm[0].financialProducts.lifeInsuranceUc) }}
                    </div>
                    <div>
                        {{ form_widget(partFiveForm.individualForm[0].financialProducts.retirementInvestment) }}
                        {{ form_row(partFiveForm.individualForm[0].financialProducts.retirementInvestmentUc) }}
                    </div>
                    <div>
                        {{ form_widget(partFiveForm.individualForm[0].financialProducts.employeeSavings) }}
                        {{ form_row(partFiveForm.individualForm[0].financialProducts.employeeSavingsUc) }}
                    </div>


                </div>
            </td>
            {%  if statut == "Marié(e)" %}
            <td>
                <div>

                    {{ form_widget(partFiveForm.individualForm[1].financialProducts.nothing) }}
                    {{ form_widget(partFiveForm.individualForm[1].financialProducts.bankAccount) }}
                    {{ form_widget(partFiveForm.individualForm[1].financialProducts.financialSavings) }}
                    <div>
                        {{ form_widget(partFiveForm.individualForm[1].financialProducts.lifeInsurance) }}
                        {{ form_row(partFiveForm.individualForm[1].financialProducts.lifeInsuranceUc) }}
                    </div>
                    <div>
                        {{ form_widget(partFiveForm.individualForm[1].financialProducts.retirementInvestment) }}
                        {{ form_row(partFiveForm.individualForm[1].financialProducts.retirementInvestmentUc) }}
                    </div>
                    <div>
                        {{ form_widget(partFiveForm.individualForm[1].financialProducts.employeeSavings) }}
                        {{ form_row(partFiveForm.individualForm[1].financialProducts.employeeSavingsUc) }}
                    </div>

                </div>
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>
                {{ form_label(partFiveForm.individualForm[0].previousFinancialProducts) }}
                {% for previousFinancialProduct in previousFinancialProducts %}
                  *  {{ previousFinancialProduct.pfpLabel }}
                     <br>
                {% endfor %}
            </td>
            <td>{{ form_widget(partFiveForm.individualForm[0].previousFinancialProducts) }}</td>
            {%  if statut == "Marié(e)" %}
            <td>{{ form_widget(partFiveForm.individualForm[1].previousFinancialProducts) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>
                {{ form_label(partFiveForm.individualForm[0].financialInvestment) }}
                {% for financialInvestment in financialInvestments %}
                   * {{ financialInvestment.fiLabel }} <br>
                {% endfor %}
            </td>
            <td>{{ form_widget(partFiveForm.individualForm[0].financialInvestment) }}</td>
            {%  if statut == "Marié(e)" %}
            <td>{{ form_widget(partFiveForm.individualForm[1].financialInvestment) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>
                {{ form_label(partFiveForm.individualForm[0].risk) }}
                {% for risk in risks %}
             * {{ risk.riskLabel }} <br>
                {% endfor %}
            </td>
            <td>{{ form_widget(partFiveForm.individualForm[0].risk) }}</td>
            {%  if statut == "Marié(e)" %}
            <td>{{ form_widget(partFiveForm.individualForm[1].risk) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td><h3>VOTRE PROFIL D'EPARGNANT</h3></td>
        </tr>

        <tr>
            <td>
                {{ form_label(partFiveForm.individualForm[0].shareOfInvestment) }}
                {% for shareOfInvestment in shareOfInvestments %}
                    * {{ shareOfInvestment.soiLabel}} <br>
                {% endfor %}
            </td>
            <td>{{ form_widget(partFiveForm.individualForm[0].shareOfInvestment) }}</td>
            {%  if statut == "Marié(e)" %}
            <td>{{ form_widget(partFiveForm.individualForm[1].shareOfInvestment) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>
                {{ form_label(partFiveForm.individualForm[0].unplanned) }}
                {% for unplanned in unplanneds %}
                    * {{ unplanned.unplLabel}} <br>
                {% endfor %}
            </td>
            <td>{{ form_widget(partFiveForm.individualForm[0].unplanned) }}</td>
            {%  if statut == "Marié(e)" %}
            <td>{{ form_widget(partFiveForm.individualForm[1].unplanned) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>
                {{ form_label(partFiveForm.individualForm[0].dropReaction) }}
                {% for dropReaction in dropReactions %}
                    * {{dropReaction.dropLabel}} <br>
                {% endfor %}
            </td>
            <td>{{ form_widget(partFiveForm.individualForm[0].dropReaction) }}</td>
            {%  if statut == "Marié(e)" %}
            <td>{{ form_widget(partFiveForm.individualForm[1].dropReaction) }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>
                {{ form_label(partFiveForm.individualForm[0].preference) }}
                {% for preference in preferences %}
                    * {{preference.prefLabel}} <br>
                {% endfor %}
            </td>
            <td>{{ form_widget(partFiveForm.individualForm[0].preference) }}</td>
            {%  if statut == "Marié(e)" %}
            <td>{{ form_widget(partFiveForm.individualForm[1].preference) }}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <h3>  </h3>
    {{ form_row(partFiveForm.individualForm[0].deathFunds)  }}
    {%  if statut == "Marié(e)" %}
    {%  do  partFiveForm.individualForm[1].deathFunds.setRendered() %}
    {% endif %}
    {{ form_row(partFiveForm.enregistrer) }}
    {{ form_end(partFiveForm) }}
{% endblock %}