{% extends "layout.html.twig" %}
{% block main %}
    {{ form_start(partTwoForm) }}

    {# Question 1 #}
    {{ form_row(partTwoForm.collectiveForesight) }}
    {# Question 2 #}
    {{ form_row(partTwoForm.savingsPlan) }}
    {# Question 3 #}
    {{ form_row(partTwoForm.collectiveRetirement) }}
    {# Question 4 #}
    {{ form_row(partTwoForm.activeCompanySavingsPlan) }}
    {{ form_row(partTwoForm.actualSaving) }}
    {# Question 5 #}
    {{ form_row(partTwoForm.salary) }}
    {# Question 6 #}
    {{ form_row(partTwoForm.evolution) }}
    {# Question 7 #}
    {{ form_row(partTwoForm.ableToMeasure) }}
    {{ form_row(partTwoForm.futureIncome) }}

    {# Question 8 #}
    {{ form_row(partTwoForm.contributionClass) }}
    {{ form_row(partTwoForm.contributionClassLabel) }}
    {# Question 9 #}
    <div>
    <p>A titre individuel, vous avez souscrit des contrats de : </p>
    {# tableau de label #}
    <table>
        <thead>
        <tr>
            <th>Garantie</th>
        </tr>
        </thead>
        <tbody>
        {% for guaranteeLabel in guaranteeLabels %}
            <tr>
                <td>{{ guaranteeLabel.guaranteeLabel }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
        <tr>

            <th>Compagnie</th>
            <th>Montant des garanties</th>
            <th>Dates</th>
            <th>Cotisation</th>
            <th>Madelin</th>
            <th>Bénéficiaires</th>
        </tr>
        </thead>
        <tbody>

        {% for guarantee in partTwoForm.guarantee %}
            <tr>
                <td>{{ form_widget(guarantee.company) }}</td>
                <td>{{ form_widget(guarantee.amountOfGuarantees) }}</td>
                <td>{{ form_widget(guarantee.date) }}</td>
                <td>{{ form_widget(guarantee.contribution) }}</td>
                <td>{{ form_widget(guarantee.madelin) }}</td>
                <td>{{ form_widget(guarantee.beneficiaries) }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    {# Question 10 #}
    {{ form_row(partTwoForm.totalAnnualIncome) }}
    {# Question 11 #}
    {{ form_end(partTwoForm) }}

{% endblock %}