{% block stylesheets %}
    <link href="{{ asset ('css/actualities.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8 col-sm-4 col-md-3 col-xl-2 ">
            <h3 class="top_h3">ACTUALITES</h3>
        </div>

    </div>

{#    <div class="row">#}
{#        <div class="col-8 col-sm-4 col-md-3 col-xl-2 ">#}
            {% for lastActu in lastActus %}
                {% if(lastActu.access.aLabel == "Abonné" and app.user == null ) %}
                    <a href="{{ path('app_login') }}">
                {% else %}
                    <a class="news-section" href="{{ path('view_article', {"id" : lastActu.id }) }}">
                {% endif %}
                <div class="text-side">
                    {% if(lastActu.access.aLabel == "Abonné" ) %}
                        <h5> Spécial {{ lastActu.access.aLabel }} ( abonnez-vous gratuitement ) </h5>
                    {% else %}

                        <h5>Actualité</h5>
                    {% endif %}
                    <h5> {{ lastActu.Artname }}</h5>
                    <p> {{ lastActu.description | length > 50 ? lastActu.description|slice(0, 150) ~ '...' : lastActu.description }} </p>
                </div>
                {% if( lastActu.artImg != null) %}
                    <div class="image-side">
                        <img src="{{ asset('uploads/images/' ~ lastActu.artImg) }} " alt="image associé à l'actualité">
                    </div>
                {% endif %}

                </a>
                </a>
                <hr class="news-seperator">
            {% endfor %}
{#        </div>#}
{#    </div>#}
    <div class="pagination">
        {{ knp_pagination_render(lastActus) }}
    </div>
</div>
