{% block stylesheets %}
    <link href="{{ asset ('css/dossier.css') }}" type="text/css" rel="stylesheet">

{% endblock %}
<div class="view_dossier">
    <h2> DOSSIER </h2>

    {% for lastOffer in lastOffers %}
        <a href="{{ path('view_article', {"id" : lastOffer.id }) }}">
        <div class="view_dossier_group">
            {% if (lastOffer.artImg != null) %}
            <div class="img_dossier">
                <img src="{{ asset('uploads/images/' ~ lastOffer.artImg) }}" alt="image associé à l'offre">
            </div>
            {% endif %}
            <div class="info_offer">
                <div class="name_offer">
                    {{ lastOffer.artName }}
                </div>
                <div class="description_offer">
                    {{ lastOffer.shortDescription }}
                </div>
            </div>
        </div>
        </a>
    {% endfor %}
    <button type="button"> Voir toutes les offres </button>
</div>